@model Shop.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Products</h1>
<div class="col-md-2">
    <h4>Categories</h4>
    @Html.ActionLink("All", "Index", null, new { @class=Request["category"]==null?"list-group-item active":"list-group-item"})
    @foreach (var item in Model.ProductCategories)
    {
        @Html.ActionLink(item.Category, "Index",new { category=item.Category}, new { @class = Request["category"] == item.Category ? "list-group-item active" : "list-group-item" })
    }
</div>
<div class="col-md-10">
    @foreach (var item in Model.Products)
    {
    <div class="col-md-4" style="height:300px;padding:10px;margin:1em;border:1px solid red">
        <div class="col-md-12">
            <img src="~/Content/ProdImages/@item.Image" style="height:20vh" />
        </div>
        <div class="col-md-12">
            <strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong>
        </div>
        <div class="col-md-12">
            <p>@item.Description</p>
        </div>
        <div class="col-md-12">
            <p>@item.Prize</p>
        </div>
        <div class="col-md-12">
            <a href="/Achat/Ajouter/@item.Id" class="btn btn-default">Add to basket</a>
        </div>
    </div>
    }
</div>